/* style text markdowns */
span.css-10trblm.e16nr0p30{
  color: green;
  font-weight: bold;
}

div.css-50ug3q.e16fv1kl3{
  padding: 10px;
  font-weight: 900;

}

div.css-1v0mbdj.etr89bj1{
  
  border-radius: 12px;
 
}

div.css-1offfwp.e16nr0p33 >p{
  font-weight: bold;
}
